@media (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        max-width: 100%;
        box-sizing: border-box;
    }
    .title-mate {
        display: none;
    }
    .cont {
        background-color: transparent;
        width: 100%;
    }
    .cont h2 {
        color: #fff;
    }
    header .mainNav {
        background-color: #3e2a24;
    }
    header .mainNav .navbar-content ul {
        display: flex;
        flex-direction: row;
    }
    header .mainNav ul li {
        font-size: 10px !important;
    }
    .tab_s tr td {
        color: #fff;
    }
    .fix_t .have {
        color: #fff;
    }
    .fix_t .have .dfe {
        color: #fff;
    }
}
